<article id="<%= dom_id article %>" class="thumb">

  <% if article.image %>
        <%= link_to article.title, :class => "image-box" do %>
            <%= image_tag(low_quality_image_thumb(article.image || "place-holder-image") || "place-holder-image", :calass => "top-image", alt: article.image_caption || article.title || "Article Image", :loading => "lazy") %>
        <% end %>
    <% end %>

  <div class="text-box">
    <div class="article-heading">
        <%= link_to "#{article.title}", article %>
    </div>

    <div class="date-author-field">
      <div class="date-field">
        <%= link_to "#{formatted_date(article.created_at, "long")}", "date/?current=#{article.created_at.to_date}" %>
      </div>
      <div class="author-box">
        <%= link_to "#{article.author.name}", article.author %>
      </div>
    </div>


    <% if article.category %>
      <div class="category">
        <%= link_to article.category.name, "/category/#{article.category.name}" %>
      </div>
    <% end %>
  </div>
</article>
