<% if article.hidden %>
    <% return %>
<% end %>

<% content_for :head do %>
    <%= tag.meta property: "og:image", content: "https://pixelwave.blog#{url_for(article.image)}" %>
    <%= tag.meta name: "title", content: article.title %>
    <%= tag.meta name: "description", content: truncate(article.excerpt, length: 150) %>
<% end %>

<div id="<%= dom_id article %>" class="ff-article single-article">

    <h1 class="article-heading">
        <%= link_to "#{article.title}", article %>
    </h1>

    <% if article.image.attached? %>
        <div class="image-box">
            <%= image_tag(article.image, :class => "top-image", alt: article.image_caption || article.title || "Article image", :loading => "lazy") %>
            <h6 class="caption"><%= fa_icon "camera-retro" %><%= article.image_caption %></h6>
        </div>
    <% end %>

    <div class="columns article-columns reversed">
        
        <%= render "components/article-author", author: article.author %>
        <%= render "components/article-date", date: article.created_at %>
        <%= render "components/likes-counter", likes: article.likes || 0, id: article.id %>
        <%= render "components/dislikes-counter", dislikes: article.dislikes || 0, id: article.id %>
    </div>

    <div class="article-excerpt reversed">
        <%= article.excerpt %>
    </div>

    <%= sanitize(article.body, tags: %w(p h1 h2 h3 h4 h5 h6 a img ul ol li strong em br iframe), attributes: %w(href src alt title class)) %>
</div>