<div id="<%= dom_id author %>" class="author-container">
  <div class="author-info">
    <p class="author-name">
      <%= author.name %>
    </p>

    <p>
      <%= image_tag(author.avatar, :style=>"width:150px; height: 150px", alt: author.name || "Author image") if author.avatar  %>
    </p>

    <p class="author-contact-info">
      <%= author.contact %>
    </p>

    <p class="author-description">
      <%= author.description %>
    </p>

    <p style="color: green"><%= notice %></p>    
  </div>

  <div id="articles" class="author-articles">
    <h2><%= author.name %>'s Articles</h2>
    <% @articles = Article.visible.by_author_id(author.id) %>
    <%= render "common/article-list" %>
  </div>
</div>
