<div id="<%= dom_id article %>" class="full">

    <% if article.image.attached? %>
        <div class="image-box">
            <%= image_tag(article.image, :class => "top-image", :size => '438x438') %>
            <h6 class="caption"><%= fa_icon "camera-retro" %><%= article.image_caption || "" %></h6>
        </div>
    <% end %>

    <div class="article-heading">
        <%= link_to "#{article.title}", article %>
    </div>

    <div class="date-category-box">
        <div class="category <%= "category-#{article.category.name}" %>">
            <div class="arrow-right"></div>
            <%= link_to "#{article.category.name}", "/category/#{article.category.name}" %>
        </div>
        -
        <div class="date-field">
            <%= link_to "#{article.created_at.strftime("%d-%m-%y")}", "/date/?current=#{article.created_at.to_date}" %>
        </div>
    </div>

    <div class="author-box">
        <i class="fa-house"></i>
        <%= link_to "#{article.author.name}", article.author %>
    </div>

    <div class="article-body">
        <%= truncate_words(article.body, 20) %>
    </div>
</div>
