<div id="<%= dom_id article %>" class="full">

    <% if article.image.attached? %>
        <div class="image-box">
            <%= image_tag(low_quality_image_pill(article.image), :class => "top-image", :size => '438x438', alt: article.image_caption || article.title || "Article Image", :loading => "lazy") %>
            <h6 class="caption"><%= fa_icon "camera-retro" %><%= article.image_caption || "" %></h6>
        </div>
    <% end %>

    <h3 class="">
        <%= link_to "#{article.title}", article %>
    </h3>

    <div class="date-category-box">
        <div class="category <%= "category-#{article.category.name}" %>">
            <div class="arrow-right"></div>
            <%= link_to "#{article.category.name}", "/category/#{article.category.name}" %>
        </div>
        -
        <div class="date-field">
            <%= link_to "#{formatted_date(article.created_at, "long")}", "/date/?current=#{article.created_at.to_date}" %>
        </div>
    </div>

    <div class="author-box">
        <i class="fa-house"></i>
        <%= link_to "#{article.author.name}", article.author %>
    </div>

    <div class="excerpt">
        <%= truncate_words(article.excerpt, 20) if article.excerpt %>
    </div>
</div>
