<article id="<%= dom_id article %>" class="thumb">

  <% if article.image.attached? %>
    <div class="image-box">
      <%= image_tag(article.image, :class => "top-image", :size => '260x180', alt: article.image_caption || article.title ||"Article image", :loading => "lazy") %>
    </div>
  <% end %>

  <div class="text-box">
    <div class="article-heading">
        <%= link_to "#{article.title}", article %>
    </div>

    <div class="date-author-field">
      <div class="date-field">
        <%= link_to "#{formatted_date(article.created_at, "long")}", "date/?current=#{article.created_at.to_date}" %>
      </div>
      <div class="author-box">
        <%= link_to "#{article.author.name}", article.author %>
      </div>
    </div>


    <% if category %>
      <div class="category">
        <%= article.category.name %>
      </div>
    <% end %>
  </div>
</article>
