<!DOCTYPE html>
<html>
  <head>
    <title>Pixel Wave</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "main", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "containers" %>
    <%= stylesheet_link_tag "article" %>
    <%= stylesheet_link_tag "ff-article" %>
    <%= stylesheet_link_tag "category-tab" %>
    <%= stylesheet_link_tag "full" %>

    <%= javascript_importmap_tags %>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6662696407105574" crossorigin="anonymous"></script>

    <%= favicon_link_tag asset_path('game-controller.png') %>

    <%= yield :head %>
    <%= yield :theme %>
  </head>

  <body>
    <p class="notice"><%= notice %></p> 
    <p class="alert"><%= alert %></p> 
    <main class="container mx-auto mt-28 px-5 flex">
      <%= render "layouts/top-banner"%>
      <%= yield %>
      <%= render partial: "layouts/footer/footer" %>
    </main>
  </body>
</html>
